<div class="row">

	<div class='tutorial'>
	  <%= link_to image_tag('play_btn.png'), "https://www.youtube.com/watch?v=hfD-nfnMEIA", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Revive Essential Training', 'https://www.youtube.com/watch?v=hfD-nfnMEIA', class: 'dashboard_tutorial_link' %>
	  <div class='length'>20:32</div>
	</div>

	<div class='tutorial'>
	  <%= link_to image_tag('play_btn.png'), "http://www.youtube.com/watch?v=jQVAIUE5tWw", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Revive Intro', 'http://www.youtube.com/watch?v=jQVAIUE5tWw', class: 'dashboard_tutorial_link' %>
	  <div class='length'>2:40</div>
	</div>

    <div class='tutorial'>
      <%= link_to image_tag('play_btn.png'), "http://www.youtube.com/watch?v=ftKBTBM93dw", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Using URL Crawl', 'http://www.youtube.com/watch?v=ftKBTBM93dw', class: 'dashboard_tutorial_link' %>
      <div class='length'>3:17</div>
    </div>

    <div class='tutorial'>
      <%= link_to image_tag('play_btn.png'), "http://www.youtube.com/watch?v=1zcgCtUmQ-M", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Using Keyword Crawl', 'http://www.youtube.com/watch?v=1zcgCtUmQ-M', class: 'dashboard_tutorial_link' %>
      <div class='length'>3:37</div>
    </div>

    <div class='tutorial'>
      <%= link_to image_tag('play_btn.png'), "http://www.youtube.com/watch?v=XXSyiKVbtjo", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Using Reverse Crawl', 'http://www.youtube.com/watch?v=XXSyiKVbtjo', class: 'dashboard_tutorial_link' %>
      <div class='length'>4:53</div>
    </div>

    <div class='tutorial'>
      <%= link_to image_tag('play_btn.png'), "http://www.youtube.com/watch?v=JID-nzc2WmE", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Advanced Tactics', 'http://www.youtube.com/watch?v=JID-nzc2WmE', class: 'dashboard_tutorial_link' %>
      <div class='length'>9:52</div>
    </div>

</div>
