<div class="row">
		
	<div class='tutorial'>
	  <%= link_to image_tag('play_btn.png'), "https://www.youtube.com/watch?v=_b2psgOjrY4", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'How To Analyze Domains Like A Pro (Step by Step)', 'https://www.youtube.com/watch?v=_b2psgOjrY4', class: 'dashboard_tutorial_link' %>
	  <div class='length'>13:18</div>
	</div>

	<div class='tutorial'>
	  <%= link_to image_tag('play_btn.png'), "https://www.youtube.com/watch?v=0ZcKDUYK9F4", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Selling Domains (+ How To Sell Alot)', 'https://www.youtube.com/watch?v=0ZcKDUYK9F4', class: 'dashboard_tutorial_link' %>
	  <div class='length'>6:22</div>
	</div>
	
    <div class='tutorial'>
      <%= link_to image_tag('play_btn.png'), "https://www.youtube.com/watch?v=u5M3ZarQN0k", class: "dashboard_tutorial_link"  %>
	  <%= link_to 'Buying Domains (And Making Sure You Get Good Ones)', 'https://www.youtube.com/watch?v=u5M3ZarQN0k', class: 'dashboard_tutorial_link' %>
      <div class='length'>4:59</div>
    </div>
	
</div>
