<div class="home_main_container">
	
	<div class="home_section_container home_nav_container">
		<div class="home_middle_container">
			<%= render 'nav/home_top_nav' %>
		</div>
	</div>

	<div class="home_section_container vsl_section">
		<div class="home_middle_container">
			<%= render 'lander1/vsl' %>
		</div>
	</div>

	
	<div class="home_section_container tracking_section">
		<div class="home_middle_container">
			<%= render 'lander1/ranking_tracker' %>
		</div>
	</div>
	
	<div class="home_section_container keyword_prediction_section">
		<div class="home_middle_container">
			<%= render 'lander1/keyword_prediction' %>
		</div>
	</div>
	
	<div class="home_section_container no_thought_interface_section">
		<div class="home_middle_container">
			<%= render 'lander1/competitor_dissection' %>
		</div>
		
		<div class="text-center">
			<%= image_tag "no_though_interface.jpg" %>
		</div>
		
	</div>
	
	<div class="home_section_container no_thought_interface_section">
		<div class="home_middle_container">
			<%= render 'lander1/requires' %>
		</div>
	</div>
	
	<div class="home_section_container white_label_section">
		<div class="home_middle_container">
			<%= render 'lander1/white_label_dissection' %>
		</div>
	</div>
	
	<div class="home_section_container blue_footer_section">
		<div class="home_middle_container">
			<%= render 'lander1/blue_footer' %>
		</div>
	</div>
	
</div>