<div class="home_main_container">


	<%= render 'nav/sales_top_nav' %>

	<%= render 'layouts/flash_errors' %>

  <div class="home_section_container checkout_main_container">
    <div class="home_middle_container">
      <div class='row'>

        <div class="col-xs-8">

          <%= form_tag upgrade_subscription_with_card_path,  id: 'new_subscription' do %>
            <%= hidden_field_tag :plan_id, params['plan_id'] %>
			      <%= hidden_field_tag :trial_end, params['trial_end'] %>
			      <%= hidden_field_tag :coupon, params['coupon'] %>


            <div class="form_section">

              <div class='section_title_container'>
                <div class="step_circle">3</div>
                <div class="step_title_text">Payment Information</div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div id="stripe_error">
                    <noscript>
                      JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
                    </noscript>
                  </div>
                </div>
              </div>
              <section class="card">
                <div class='row'>

                  <div class='col-xs-12'>
                    <div class="payment-errors"></div>

                    <div class="form_field_section">
                      <div class="form_label">
                        <%= label_tag 'card[number]', 'Credit Card Number' %>
                      </div>
                      <div class="form_field">
                        <%= text_field_tag 'card[number]', nil, data: {stripe: 'number'}, maxlength: 16, minlength: 16%>
                      </div>
                    </div>
                  </div>

                </div>

                <div class='row'>

                  <div class='col-xs-4'>
                    <div class="form_field_section">
                      <div class="form_label">
                        <%= label_tag 'card[cvc]', 'CVC / CVV' %>
                      </div>
                      <div class="form_field">
                        <%= text_field_tag 'card[cvc]', nil, data: {stripe: 'cvc'}, maxlength: 3, minlength: 3 %>
                      </div>
                    </div>
                  </div>

                  <div class='col-xs-4'>
                    <div class="form_field_section">
                      <div class="form_label">
                        <%= label_tag 'card[exp]', "Exp. Month" %>
                      </div>
                      <div class="form_field">
                        <%= text_field_tag 'card[month]', nil, data: {stripe: 'exp-month'}, maxlength: 2, minlength: 2 %>
                      </div>
                    </div>
                  </div>

                  <div class='col-xs-4'>
                    <div class="form_field_section">
                      <div class="form_label">
                        <%= label_tag :card_year, "Exp. Year" %>
                      </div>
                      <div class="form_field">
                        <%= text_field_tag 'card[year]', nil, data: {stripe: 'exp-year'}, maxlength: 4, minlength: 2 %>
                      </div>
                    </div>
                  </div>

                </div>
              </section>


              <div class="line_break"></div>

              <div class="row trust_logos">
                <!-- <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-2">
                      <div class="trust_logo_headline_img">
                        <%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/30-badge.png" %>
                      </div>
                    </div>
                    <div class="col-xs-10">
                      <div class="trust_logo_headline pull-left">
                        <p>30 DAY MONEY-BACK GUARANTEE</p>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-1">
                      <div class="trust_logo_headline_img">
                        <%#= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/30-badge.png" %>
						<!-- <span class="glyphicon glyphicon-ok pull-left" aria-hidden="true"></span> -->
						<%= check_box_tag 'accept_terms', 'yes', false, class: 'pull-left' %>
                      </div>
                    </div>
                    <div class="col-xs-10">
                      <div class="trust_logo_headline pull-left">
                        <p>
							<%#= check_box_tag 'accept_terms' %>
							<%= link_to 'I AGREE TO THE TERMS', terms_path, target: 'blank' %>
						</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-5">
                      <div class="trust_logo_headline_img pull-right">
                        <%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/secure-lock.png" %>
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="trust_logo_headline pull-left">
                        <p>SECURE CHECKOUT</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="panel panel-default order_total_container">
                <div class="panel-heading">
                  <div class="row">
                    <div class="pull-left order_toatal_text">Your Order Total:</div>

						<% if params['trial_end'].to_i != 0 %>
							<div class="pull-right order_toatal_price"><%= params['trial_end'].to_i %> day FREE trial, then $<%= @price %></div>
						<% else %>
							<div class="pull-right order_toatal_price">$<%= @price %></div>
						<% end %>

                  </div>
                </div>
              </div>

              <div class="checkout_form_submit_btn">
                <%= submit_tag "Submit Order", id:'subscription-submit', class:'btn btn-success btn-lg btn-block checkout_form_submit_btn', data:{disable_with:'Working Magic..' }%>
              </div>



            </div>


          <% end %>

        </div>

        <div class="col-xs-4">

          <!-- <div class='right_checkout_section'>
            <h1>100% Guarantee</h1>


            <div class="satisfaction_checkout_section">
              <%= image_tag 'https://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/30-day-badge.png' %>
            </div>

            <hr class="colorgraph">

          </div> -->

          <div class='right_checkout_section'>
            <h1>Privacy / Security</h1>
            <h4><small>We will not share or trade online information that you provide us (including e-mail addresses). All personal information you submit is encrypted and secure.</small></h4>

            <div class="row text-center">

              <div class="col-xs-6">
                <div class="satisfaction_checkout_section privacy_securty_section pull-left">
                  <%= image_tag 'https://www.safesitecertified.org/members/identity.html?seal=3&member=fa1a21df&location=Traffic_&_Conversion_Summit&size=3&seal_text=115&url=www.trafficandconversionsummit.com/order/recordings/' %>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="satisfaction_checkout_section privacy_securty_section">
                  <%= image_tag 'https://www.safesitecertified.org/members/identity.html?seal=2&member=fa1a21df&location=Traffic_&_Conversion_Summit&size=3&seal_text=115&url=www.trafficandconversionsummit.com/order/recordings/' %>
                </div>
              </div>

            </div>

            <hr class="colorgraph">

          </div>

        </div>

      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
  Stripe.setPublishableKey("<%= ENV['stripe_public_key']%>");
</script>
