<div class="row text-center feature_header_container lander_feature_container_row">
	
	<div class="home_video_headline">
		<h1>Save Money. Save Time. Save Sanity.</h1>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">

			<div class="subheadline_text white-text">
				<p>Make The Most Complicated, Expensive, Time Consuming Part Of SEO Made Push Button Simple</p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>

	<div class="feature_thumb_img">
		<%= image_tag 'revive_big_logo.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">
			<div class="home_video_headline">
				<h1>HOW IT WORKS...</h1>
			</div>
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>

<div class="row text-center feature_header_container lander_feature_container_row">
	<div class="feature_thumb_img">
		<%= image_tag 'hiw1.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">

			<div class="subheadline_text white-text">
				<p>Revive helps you create a list of powerful relevant domains for it to scan and dig into. This takes seconds to do... </p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>

<div class="row text-center feature_header_container lander_feature_container_row">
	<div class="feature_thumb_img">
		<%= image_tag 'hiw2.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">

			<div class="subheadline_text white-text">
				<p>Revive takes the list of domains and digs into their linking structure finding links to old domains that have still have powerful real links in place</p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>

<div class="row text-center feature_header_container lander_feature_container_row">
	<div class="feature_thumb_img">
		<%= image_tag 'hiw3.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">

			<div class="subheadline_text white-text">
				<p>Revive delivers a report of powerful unregistered domains you can pick up for next to nothing. It also removes all spammy domains and organizes the sites by power</p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>

<div class="row text-center feature_header_container lander_feature_container_row">
	<div class="feature_thumb_img">
		<%= image_tag 'hiw4.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">

			<div class="subheadline_text white-text">
				<p>With just a few button presses you have aquired turbo powered domains for your SEO at 1/10th of normal price and without any work. Revive does it ALL for you</p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>
