<div class="home_main_container">

	<!-- <div class="home_section_container home_nav_container">
		<div class="home_middle_container">
			<%#= render 'nav/home_top_nav' %>
			<%#= render 'nav/sales_top_nav' %>
		</div>
	</div> -->

	<!-- <div class="home_section_container nopadding">
		<div class="text-center">
			<div class="home_video_headline text-center">
				<h1 class="pink_text">Charter Discount Pricing Closes In</h1>
			</div>
			<iframe width="334" height="115" src="https://w2.countingdownto.com/892597" frameborder="0"></iframe>
		</div>
	</div> -->

	<div class="row">
		<div class="text-center">
			<div class="ubuntu">
				<h3>Upgrade Now!</h3>
			</div>
		</div>
	</div>

	<div class="home_section_container">
		<div class="home_middle_container">

			<!-- <div class='row'>
				<div class='text-center'>
	  			  <div class='ubuntu'>
	  			  	<h3>Marketplace Charter Pricing + Bonuses Expire In</h3>
	  			  </div>

	  			  <div>
	  			  	<iframe width="350" height="120" src="https://w2.countingdownto.com/892597" frameborder="0"></iframe>
	  			  </div>
				</div>
			</div> -->

			<div class="row">

				<div class="col-xs-4">
					<div class="pricing_plan_container text-center">
						<div class="plan_title_gray"><h1 class="white-text black_bold_text">EMT</h1></div>
						<div class="pricing_text_container_gray">
							<h1 class="white-text black_bold_text">$199 / month</h1>
						</div>
						<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">1 Active Project</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">For Small PBNs</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">2000 Crawl Minutes</h4></div>
						<div class="pricing_btn2">
							<% if params[:missing_subscription].present? %>
								<%= link_to 'FINISH PAYMENT', new_subscriptions_path(plan_id: 1) %>
							<% elsif params[:update_card] %>
								<%= link_to 'UPDATE PAYMENT DETAILS', upgrade_card_details_path(plan_id: 1) %>
							<% else %>
									<%= link_to 'UPGRADE NOW', upgrade_subscription_path(plan_id: 1) %>
							<% end %>
						</div>
					</div>
				</div>

				<div class="col-xs-4">
					<div class="pricing_plan_container text-center">
						<div class="plan_title_gray"><h1 class="white-text black_bold_text">DOCTOR</h1></div>
						<div class="pricing_text_container_gray">
							<h1 class="white-text black_bold_text">$297 / month</h1>
						</div>
						<div class="pricing_feature"><h4 class="light_blue_text">Domain Seller License</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">1 Active Project</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">For Medium PBNs</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">8000 Crawl Minutes</h4></div>
						<div class="pricing_btn2">
							<% if params[:missing_subscription].present? %>
								<%= link_to 'FINISH PAYMENT', new_subscriptions_path(plan_id: 3) %>
								<% elsif params[:update_card] %>
									<%= link_to 'UPDATE PAYMENT DETAILS', upgrade_card_details_path(plan_id: 3) %>
							<% else %>
									<%= link_to 'UPGRADE NOW', upgrade_subscription_path(plan_id: 3) %>
							<% end %>
					</div>
				</div>
			</div>
				<div class="col-xs-4">
					<div class="pricing_plan_container text-center">
						<div class="plan_title_red"><h1 class="white-text black_bold_text">IMMORTAL</h1></div>
						<div class="pricing_text_container_red">
							<h1 class="white-text black_bold_text">$497 / month</h1>
						</div>
						<div class="pricing_feature"><h4 class="light_blue_text">Domain Seller License</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">3 Active Project</h4></div>
						<div class="pricing_feature"><h4 class="light_blue_text">For Service Providers</h4></div>
						<div class="pricing_feature"><h4 class="red_text">10000 Crawl Minutes</h4></div>
						<div class="pricing_btn2">
							<% if params[:missing_subscription].present? %>
								<%= link_to 'FINISH PAYMENT', new_subscriptions_path(plan_id: 4) %>
								<% elsif params[:update_card] %>
									<%= link_to 'UPDATE PAYMENT DETAILS', upgrade_card_details_path(plan_id: 4) %>
							<% else %>
									<%= link_to 'UPGRADE NOW', upgrade_subscription_path(plan_id: 4) %>
							<% end %>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
