<div class="main_page_container">
	
	<div class="container-fluid header_title_container">
		<div class="row">
			<div class="col-xs-12">
				<div class="header_title_content">
						
					<!-- TABS -->
					
						<div class="tabbable-panel">
						<div class="tabbable-line">
							<ul class="nav nav-tabs ">
			
								<li>
									<%= link_to crawl_path_path(params[:id], 'processor_name' => @crawl.processor_name) do %>
									    <i class="glyphicon glyphicon-stats">
											<span class="glyph_text">Dashboard</span>
										</i>
									<% end %>
								</li>
			
								<li >
									<%= link_to broken_path(params[:id], 'processor_name' => @crawl.processor_name) do %>
									    <i class="glyphicon glyphicon-ban-circle">
											<span class="glyph_text">Broken</span>
										</i>
									<% end %>
								</li>
								
								<li >
									<%= link_to available_path(params[:id], 'processor_name' => @crawl.processor_name) do %>
									    <i class="glyphicon glyphicon-ok">
											<span class="glyph_text">Available</span>
										</i>
									<% end %>
								</li>
								
								<li class="active">
									<%= link_to bookmarked_sites_path(params[:id], 'processor_name' => @crawl.processor_name) do %>
									    <i class="glyphicon glyphicon-bookmark">
											<span class="glyph_text">Bookmarked</span>
										</i>
									<% end %>
								</li>
								
								<li>
									<%= link_to edit_crawl_path(params[:id], 'processor_name' => @crawl.processor_name) do %>
									    <i class="glyphicon glyphicon-bookmark">
											<span class="glyph_text">Settings</span>
										</i>
									<% end %>
								</li>
			
							</ul>
							

							
						</div>
						
					</div>
					
					<!-- TABS -->

						
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid container_section">
	
		<div class="row">
		
			<div class="col-xs-12">
			
				<div class="row">
					
					<div class="panel panel-round">
						<div class="panel-heading panel_blue_heading panel_glyph_container">
							
							<div class="header_glyph">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</div>
							<div class="header_text">
								<p>Bookmarked Domains</p>
							</div>
							
						</div>
						<%= form_tag unbookmark_sites_path(params[:id]), id: 'bookmark-sites-form', method: :put do %>
						<div class="panel-body">
							<table class="table table-hover table-striped">
								
								<thead>
									<tr>
										<th class="col-xs-1"></th>
										<th>DOMAIN</th>
										<th class="col-xs-1">
											<%= link_to 'DA', bookmarked_sites_path(id: params[:id], sort: 'da') %>
										</th>
										<th class="col-xs-1">
											<%= link_to 'PA', bookmarked_sites_path(id: params[:id], sort: 'pa') %>
										</th>
										<th class="col-xs-1">
											<%= link_to 'TF', bookmarked_sites_path(id: params[:id], sort: 'trustflow') %>
										</th>
										<th class="col-xs-1">
											<%= link_to 'CF', bookmarked_sites_path(id: params[:id], sort: 'citationflow') %>
										</th>
										<th class="col-xs-1">TF/CF</th>
										<th class="col-xs-1">
											<%= link_to 'RF', bookmarked_sites_path(id: params[:id], sort: 'refdomains') %>
										</th>
										<th class="col-xs-1">
											<%= link_to 'BL', bookmarked_sites_path(id: params[:id], sort: 'backlinks') %>
										</th>
										<th>FOUND ON</th>
									</tr>
								</thead>
								
								<tbody>
									<% @pages.each do |i| %>
										<tr>
											<td><%= check_box_tag "page_ids[]", i.id %></td>
											<td>www.<%= i.simple_url %></td>
											<td><%= number_with_precision(i.da, precision: 0) %></td>
											<td><%= number_with_precision(i.pa, precision: 0) %></td>
											<td><%= i.trustflow %></td>
											<td><%= i.citationflow %></td>
											<td><%= number_with_precision(i.trustflow.to_f/i.citationflow.to_f) %></td>
											<td><%= i.refdomains %></td>
											<td><%= i.backlinks %></td>
											<td><%= i.found_on %></td>
										</tr>
									<% end %>
								</tbody>
								
							</table>

							<div class="will_paginate_container text-center">
								<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
							</div>
							
						</div>
						
					</div>
					
					<div class="bookmark_sites_container pull-right">
						<%= submit_tag 'Unbookmark Sites', id: 'bookmarked-submit-tag', class: 'btn btn-primary' %>
					</div>
					
					<% end %>
					
				</div>
			
			</div>
		
		</div>
	
	</div>

</div>