<%= render 'nav/sales_top_nav' %>


    <section id="slideshow" class="white">
      <%= image_tag 'pbn-building-block.jpg', alt: 'PBN - Building block of SEO' %>

      <h1 class="anim-text">
        <ul class="texts">
          <li class="hidden">Get Strong Domains</li>
          <li class="hidden">Get Cheaper Domains</li>
          <li class="hidden">Get Relevant Domains</li>
          <li class="hidden">Get Sellable Domains</li>
          <li class="hidden">Get 1000’s Of Domains</li>
        </ul>
        <span class="anim-text-static">with Revive</span>
      </h1>

      <p>
        <%= link_to 'Get Started!', plans_path, class: 'btn' %>
      </p>

      <p>
        <%= link_to 'Learn more', plans_path %>
      </p>

      <p class="potential"><span>Over 100,000</span> Potential PBNs are found with Revive every day</p>
    </section>

    <section id="characteristics" class="blue">
      <div class="wrap">
        <ul class="flex">
          <li>Save Thousands On Link Building</li>
          <li>Unlimited Powerful Domains</li>
          <li>Complete Domain Analysis</li>
        </ul>
      </div>
    </section>

    <section id="features" class="white">
      <div class="wrap">
        <div class="flex">
          <h2>Everything You Need To Build <strong>A Mega Powerful cheap PBN</strong></h2>

          <ul class="features">
            <li>
              <h3>Cloud Based</h3>
              <p>No extra tools are required. Simply login and get crawling</p>
            </li>
            <li>
              <h3>Full Domain Metrics</h3>
              <p>Get the full details of every domain from Moz and Majestic algorithms</p>
            </li>
            <li>
              <h3>Anchor Text Analysis</h3>
              <p>Make sure a domain is top quality by checking anchor text ratios</p>
            </li>
            <li>
              <h3>Multiple Crawl Types</h3>
              <p>Find domains exactly how you want to with keyword, reverse and urls crawls</p>
            </li>
            <li>
              <h3>Beginner Easy</h3>
              <p>Using Revive is as simple as typing in a search term</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="how-it-works" class="blue">
      <div class="wrap">
        <h2>How it works</h2>

        <div class="row left">
          <p class="number"><span>1</span></p>
          <div class="item">
            <h3>Revive Creates</h3>
            <p class="content">Revive helps you create a list of powerful relevent domains for it to scan and dig into. This <strong>takes seconds to do...</strong></p>
          </div>
        </div>

        <div class="row right">
          <p class="number"><span>2</span></p>
          <div class="item">
            <h3>Revive Digs</h3>
            <p class="content">Revive takes the list of domains and digs into their linking structure finding links to old domains that still have <strong>powerful real links in place.</strong></p>
          </div>
        </div>

        <div class="row left">
          <p class="number"><span>3</span></p>
          <div class="item">
            <h3>Revive Reports</h3>
            <p class="content">Revive delivers a report of powerful unregistered domains you can pick upfor next to nothing. It also <strong>removes all spammy domains</strong> and <strong>organizes the sites by power.</strong></p>
          </div>
        </div>

        <div class="row right">
          <p class="number"><span>4</span></p>
          <div class="item">
            <h3>Revival</h3>
            <p class="content">With just a few button presses you have aquired turbopowered domains for your SEO at 1/10th of normal price and without any work. <strong>Revive does it ALL for you.</strong></p>
          </div>
        </div>

      </div>
    </section>

    <section id="marketplace" class="white">
      <div class="wrap">
        <div class="text">
          <h2>Full domain seller marketplace</h2>

          <p>Look... you are going to find hundreds to thousands of domains with Revive. With Revive you can auction off any domains you do not need instantly with zero hassle in our booming domain marketplace OR you can find new domains at a major discount!</p>

          <p><a href="#">Go to Marketplace</a></p>
        </div>
        <%= image_tag 'domain-marketplace.jpg', alt: 'domain marketplace' %>
      </div>
    </section>

    <section id="in-action" class="blue">
      <div class="overlay-background">
        <div class="wrap">
          <h2>See Revive in action</h2>
          <p class="subtitle">Watch Us Find Thousands Of Domains With Just A Few Clicks</p>

          <div class="video">
            <!-- LeadPlayer video embed code start [ video: 564B7D7001975 ] --><div><script type="text/javascript" src="//s3.amazonaws.com/cdn.leadbrite.com/leadplayer/r0038/js/leadplayer.js"></script></div><div class="lead_video" id="leadplayer_video_element_564B7D7001975" style="width:853px;height:480px"></div><div><script type="text/javascript">jQLeadBrite("#leadplayer_video_element_564B7D7001975").leadplayer(false, "eyJnYSI6ZmFsc2UsIm92ZXJsYXkiOmZhbHNlLCJwb3dlcmVkX2J5IjpmYWxzZSwicG93ZXJlZF9ieV9saW5rIjoiaHR0cDpcL1wvd3d3LmxlYWRwbGF5ZXIuY29tXC8iLCJjb2xvcjEiOiIjRjUwQzBDIiwiY29sb3IyIjoiI0ZGRkZGRiIsImNvbG9yMyI6IiNGNUJCMEMiLCJ0eHRfc3VibWl0IjoiU1VCTUlUIiwidHh0X3BsYXkiOiJHZXQgVXBkYXRlcyIsInR4dF9lbWwiOiJZb3VyIEVtYWlsIEFkZHJlc3MiLCJ0eHRfbmFtZSI6IllvdXIgTmFtZSIsInR4dF9pbnZhbGlkX2VtbCI6IlBsZWFzZSBlbnRlciBhIHZhbGlkIGVtYWlsIiwidHh0X2ludmFsaWRfbmFtZSI6IlBsZWFzZSBlbnRlciB5b3VyIG5hbWUiLCJscF9zb3VyY2UiOiJXUCBQbHVnaW4gMS40LjIuMSBVbmxpbWl0ZWQiLCJpZCI6IjU2NEI3RDcwMDE5NzUiLCJ3aWR0aCI6ODUzLCJoZWlnaHQiOjQ4MCwidGh1bWJuYWlsIjoiIiwidGl0bGUiOiJSZXYiLCJkZXNjcmlwdGlvbiI6IiIsImF1dG9wbGF5IjpmYWxzZSwic2hvd190aW1lbGluZSI6dHJ1ZSwiZW5hYmxlX2hkIjp0cnVlLCJvcHQiOmZhbHNlLCJjdGEiOmZhbHNlLCJ5bSI6Ikw5dTlLdDkzZXU0In0=");</script></div><!-- LeadPlayer video embed code end [ video: 564B7D7001975 ] -->
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="dark-blue">
      <div class="wrap">
        <div class="testimonial">
          <div class="content">
            <p>I bought over 30 expired Domains this week using Revive all for under $10. All of these have good backlinks and a DA and Trust flow above 10. One even has a DA of 72! how much is that worth?!</p>
          </div>
          <p class="author">Mark Greenwood</p>
        </div>
      </div>
    </section>

    <section id="facebook-users" class="white">
      <div class="wrap">
        <h2>See what our users are saying</h2>

        <%= image_tag 'facebook-feed-1.jpg', alt: '' %>
        <%= image_tag 'facebook-feed-2.jpg', alt: '' %>
        <%= image_tag 'facebook-feed-3.jpg', alt: '' %>
        <%= image_tag 'facebook-feed-4.jpg', alt: '' %>
      </div>
    </section>

    <section id="get-started" class="orange">
      <div class="wrap">
        <p>
          <strong>Yes,</strong>
           I would like to save thousands on domains, outsource hundreds of hours of work and put finding powerful link sources on autopilot...
        </p>
        <%= link_to 'Click Here to Get Started!', plans_path, class: 'btn' %>
      </div>
    </section>
  </div>
