<header class='<%= "#{@header_class}" %>'>
  <div class="inner">
    <div class="flex">
        <a class="logo" href="/" title="#"><%= image_tag 'revive-logo-blue.png', alt: 'Revive' %></a>

        <ul class="left">
          <li><%= link_to 'Domain Marketplace', marketplace_lp_path %></li>
          <li><%= link_to 'Support', 'http://source-wave.com/support' %></li>
        </ul>

        <ul class="right">
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Register', plans_path %></li>
        </ul>
    </div>
  </div>
</header>
<div id="container">
  <div id="page-body">
